<div class="container">
    <h2>Ajouter un Plat :</h2>
  
    <form (ngSubmit)="addPlat()">   <!-- Handle form submission with ngSubmit -->
      <div class="form-group">
        <label>Nom Plat</label>
        <input type="text" [(ngModel)]="newPlat.nomPlat" name="nomPlat" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label>Prix Plat</label>
        <input type="number" [(ngModel)]="newPlat.prixPlat" name="prixPlat" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label>Pays</label>
        <select class="form-control" [(ngModel)]="newIdPays" name="idPays" required>
          <option *ngFor="let pays of paysList" [value]="pays.idPays">
            {{ pays.nomPays }}
          </option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
